body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "helvetica neue",arial,sans-serif;
}

.app-root {
  height: 100%;
}

.gallery-app {
  height: 100%;
}

div {
  box-sizing: border-box;
}